@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@font-face {
  font-family: "Gilroy_Regular";
  src: url(./gilroy/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "Gilroy_Medium";
  src: url(./gilroy/Gilroy-Medium.ttf);
}
@font-face {
  font-family: "Gilroy_Semibold";
  src: url(./gilroy/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: "Gilroy_Bold";
  src: url(./gilroy/Gilroy-Bold.ttf);
}
@font-face {
  font-family: "Gilroy_Black";
  src: url(./gilroy/Gilroy-Black.ttf);
}
@font-face {
  font-family: "Gilroy_Light";
  src: url(./gilroy/Gilroy-Light.ttf);
}
@font-face {
  font-family: "Gilroy_Thin";
  src: url(./gilroy/Gilroy-Thin.ttf);
}

.show{
    display: block !important;
}

@media (min-width: 768px){
    .show{
        display: flex!important;
    }
}
.flex_show {
    display: flex !important;
}
.blur {
    --tw-blur: blur(4px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.linnebg {
  background-image: url(./images/Image\ \(10\).png);
}
@tailwind base;
@tailwind components;
@tailwind utilities;